body {
    font-family: Menlo, Consolas, monospace;
    color: rgb(99, 42, 42);
  }
  .item {
    cursor: pointer;
  }
  .bold {
    font-weight: bold;
  }

  .showInput {
      display: inline-block;
  }

  ul {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: dot;
  }